<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/assets/styles/result.css">
</head>
<body>
    <div class="container">
        <h1>Result</h1>
        <p>Customer <%= customer %> with tax number <%= taxNumber %> bought item <%= item %> for <span class="highlight"><%= specialPrice %> </span> SAR</p>
        <p>Total Price for Customer <%= customer %>: <span class="highlight"><%= totalPrice %> </span> SAR</p>
    </div>
</body>
</html>
